/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  color: #FFFFFF;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
}

body {
  padding: 0 40px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Helpers */
.w-520 {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.w-1400 {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.mb-8 { margin-bottom: 8px; }
.mb-16 { margin-bottom: 16px; }
.mb-32 { margin-bottom: 32px; }
.mb-40 { margin-bottom: 40px; }
.mb-80 { margin-bottom: 80px; }
.mb-120 { margin-bottom: 120px; }

/* Themes */
.theme html,
.theme body,
.theme .project--image {
  transition: background-color 0.25s;
}

.theme .header--title,
.theme .section--title,
.theme .project--title,
.theme .header--body,
.theme .section--body,
.theme .section--caption,
.theme .project--job,
.theme .footer {
  transition: color 0.25s;
}

.theme-light html,
.theme-light body {
  background-color: #FFFFFF;
}

.theme-light .header--title,
.theme-light .section--title,
.theme-light .project--title {
  color: #202832;
}

.theme-light .header--body,
.theme-light .section--body,
.theme-light .section--caption,
.theme-light .project--job,
.theme-light .footer {
  color: #6D7580;
}

.theme-light .project--image {
  background-color: #F7F8FA;
}

.theme-light #theme-icon {
  fill: #6D7580;
}

.theme-light .theme-toggle:hover #theme-icon {
  fill: #202832;
}

.theme-dark html,
.theme-dark body {
  background-color: #202832;
}

.theme-dark .header--title,
.theme-dark .section--title,
.theme-dark .project--title {
  color: #FFFFFF;
}

.theme-dark .header--body,
.theme-dark .section--body,
.theme-dark .section--caption,
.theme-dark .project--job,
.theme-dark .footer {
  color: #8D97A6;
}

.theme-dark .project--image {
  background-color: #262F3B;
}

.theme-dark #theme-icon {
  fill: #8D97A6;
}

.theme-dark .theme-toggle:hover #theme-icon {
  fill: #FFFFFF;
}

/* Components */
.header {
  padding-top: 120px;
}

.header--title {
  font-weight: 700;
  line-height: 51px;
  font-size: 36px;
}

.header--body {
  font-weight: normal;
  line-height: 41px;
  font-size: 24px;
}

.header--body a {
  text-decoration: underline;
  transition: color 0.25s;
}

.header--body a:hover {
  color: #597FB2;
}

.section--title {
  font-weight: 700;
  line-height: 51px;
  font-size: 36px;
}

.section--body {
  font-weight: normal;
  line-height: 41px;
  font-size: 24px;
}

.section--caption {
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  display: block;
  opacity: .5;
}

.project--title {
  font-weight: 700;
  line-height: 32px;
  font-size: 18px;
}

.project--job {
  font-weight: normal;
  line-height: 32px;
  font-size: 18px;
}

.project--image {
  max-width: 1400px;
  border-radius: 4px;
}

.project--image img {
  max-width: 100%;
  display: block;
}

.footer {
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  opacity: 0.5;
}

.theme-toggle {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
}

#theme-icon {
  transition: fill 0.25s;
}